@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  font-family: "Caslon";
}

::selection {
  background-color: #eceadf;
  color: #2563eb var(--tw-gradient-to-position);
}

p,
h1,
h3,
h6 {
  color: #231f20;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animation-on-view {
    animation-timeline: view();
    animation-range-end: 75%;
  }
}

.direction-rtl {
  direction: rtl;
}

.input-upload {
  position: relative;
}

.input-upload svg {
  position: absolute;
}

.input-upload .line {
  fill: transparent;
}

.input-upload .line.start {
  stroke-dasharray: 260;
  stroke-width: 3px;
  stroke: rgba(78, 255, 13, 0.5);
  animation: svgAnimation 2.5s linear infinite;
}

.modal {
  border-radius: 20px;
}

@keyframes svgAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50%;
  height: 100px;
  border: 5px solid #000;
  padding: 0 8px;
  box-sizing: border-box;
  background:
    linear-gradient(#fff 0 0) 0 0/8px 20px,
    linear-gradient(#fff 0 0) 100% 0/8px 20px,
    radial-gradient(farthest-side, #fff 90%, #0000) 0 5px/8px 8px content-box,
    #000;
  background-repeat: no-repeat;
  animation: l3 2s infinite linear;
  border-radius: 20px;
}
@keyframes l3 {
  25% {
    background-position:
      0 0,
      100% 100%,
      100% calc(100% - 5px);
  }
  50% {
    background-position:
      0 100%,
      100% 100%,
      0 calc(100% - 5px);
  }
  75% {
    background-position:
      0 100%,
      100% 0,
      100% 5px;
  }
}
